In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# Import psql to run queries 

import pandasql as psql

In [2]:
freq_data = pd.read_csv(r"C:\Users\dell\Downloads\illu satti\freMTPL2freq.csv", header=0)
sev_data = pd.read_csv(r"C:\Users\dell\Downloads\illu satti\freMTPL2sev.csv", header=0)

freq_data_bk = freq_data.copy()
sev_data_bk = sev_data.copy()

In [3]:
freq_data.shape,sev_data.shape

((678013, 12), (26639, 2))

In [4]:
freq_data.head()

,IDpol,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region
0,1.0,1,0.10,5,0,55,50,B12,Regular,D,1217,Rhone-Alpes
1,3.0,1,0.77,5,0,55,50,B12,Regular,D,1217,Rhone-Alpes
2,5.0,1,0.75,6,2,52,50,B12,Diesel,B,54,Picardie
3,10.0,1,0.09,7,0,46,50,B12,Diesel,B,76,Aquitaine
4,11.0,1,0.84,7,0,46,50,B12,Diesel,B,76,Aquitaine

In [5]:
sev_data.head()

     IDpol  ClaimAmount
0     1552       995.20
1  1010996      1128.12
2  4024277      1851.11
3  4007252      1204.00
4  4046424      1204.00

In [6]:
claim = pd.merge(sev_data,freq_data, on = ['IDpol'] ,how = 'inner')
claim_b = claim.copy()

In [7]:
freq_data.shape,sev_data.shape,claim.shape

((678013, 12), (26639, 2), (26444, 13))

In [8]:
claim.head()

,IDpol,ClaimAmount,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region
0,1552,995.20,2,0.59,11,0,39,56,B12,Diesel,D,778,Picardie
1,1552,1845.74,2,0.59,11,0,39,56,B12,Diesel,D,778,Picardie
2,1010996,1128.12,1,0.95,4,1,49,50,B12,Regular,E,2354,Ile-de-France
3,4024277,1851.11,1,0.71,4,2,32,106,B12,Regular,D,570,Nord-Pas-de-Calais
4,4007252,1204.00,1,0.78,4,1,49,57,B12,Regular,C,288,Midi-Pyrenees

In [9]:
claim.duplicated().any()

True

In [10]:
claim = claim.drop_duplicates()

In [11]:
claim.duplicated().any()

False

In [12]:
claim.isnull().sum()

IDpol          0
ClaimAmount    0
ClaimNb        0
Exposure       0
VehPower       0
VehAge         0
DrivAge        0
BonusMalus     0
VehBrand       0
VehGas         0
Area           0
Density        0
Region         0
dtype: int64

In [13]:
claim.shape

(26209, 13)

In [14]:
claim.head(10)

,IDpol,ClaimAmount,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region
0,1552,995.20,2,0.59,11,0,39,56,B12,Diesel,D,778,Picardie
1,1552,1845.74,2,0.59,11,0,39,56,B12,Diesel,D,778,Picardie
2,1010996,1128.12,1,0.95,4,1,49,50,B12,Regular,E,2354,Ile-de-France
3,4024277,1851.11,1,0.71,4,2,32,106,B12,Regular,D,570,Nord-Pas-de-Calais
4,4007252,1204.00,1,0.78,4,1,49,57,B12,Regular,C,288,Midi-Pyrenees
5,4046424,1204.00,1,0.86,12,0,37,50,B12,Diesel,F,27000,Ile-de-France
6,4073956,1204.00,1,0.78,15,10,48,50,B12,Regular,E,2400,Ile-de-France
7,4012173,1204.00,1,0.71,5,3,58,50,B12,Regular,C,208,Languedoc-Roussillon
8,4020812,54942.62,3,0.21,8,2,53,52,B12,Diesel,F,15725,Ile-de-France
9,4020812,7620.00,3,0.21,8,2,53,52,B12,Diesel,F,15725,Ile-de-France

In [15]:
claim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26209 entries, 0 to 26443
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IDpol        26209 non-null  int64
 1   ClaimAmount  26209 non-null  float64
 2   ClaimNb      26209 non-null  int64
 3   Exposure     26209 non-null  float64
 4   VehPower     26209 non-null  int64
 5   VehAge       26209 non-null  int64
 6   DrivAge      26209 non-null  int64
 7   BonusMalus   26209 non-null  int64
 8   VehBrand     26209 non-null  object
 9   VehGas       26209 non-null  object
 10  Area         26209 non-null  object
 11  Density      26209 non-null  int64
 12  Region       26209 non-null  object
dtypes: float64(2), int64(7), object(4)
memory usage: 2.8+ MB

In [16]:
claim.isnull().sum()

IDpol          0
ClaimAmount    0
ClaimNb        0
Exposure       0
VehPower       0
VehAge         0
DrivAge        0
BonusMalus     0
VehBrand       0
VehGas         0
Area           0
Density        0
Region         0
dtype: int64

In [17]:
claim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26209 entries, 0 to 26443
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IDpol        26209 non-null  int64
 1   ClaimAmount  26209 non-null  float64
 2   ClaimNb      26209 non-null  int64
 3   Exposure     26209 non-null  float64
 4   VehPower     26209 non-null  int64
 5   VehAge       26209 non-null  int64
 6   DrivAge      26209 non-null  int64
 7   BonusMalus   26209 non-null  int64
 8   VehBrand     26209 non-null  object
 9   VehGas       26209 non-null  object
 10  Area         26209 non-null  object
 11  Density      26209 non-null  int64
 12  Region       26209 non-null  object
dtypes: float64(2), int64(7), object(4)
memory usage: 2.8+ MB

In [18]:
claim.head(10)

,IDpol,ClaimAmount,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region
0,1552,995.20,2,0.59,11,0,39,56,B12,Diesel,D,778,Picardie
1,1552,1845.74,2,0.59,11,0,39,56,B12,Diesel,D,778,Picardie
2,1010996,1128.12,1,0.95,4,1,49,50,B12,Regular,E,2354,Ile-de-France
3,4024277,1851.11,1,0.71,4,2,32,106,B12,Regular,D,570,Nord-Pas-de-Calais
4,4007252,1204.00,1,0.78,4,1,49,57,B12,Regular,C,288,Midi-Pyrenees
5,4046424,1204.00,1,0.86,12,0,37,50,B12,Diesel,F,27000,Ile-de-France
6,4073956,1204.00,1,0.78,15,10,48,50,B12,Regular,E,2400,Ile-de-France
7,4012173,1204.00,1,0.71,5,3,58,50,B12,Regular,C,208,Languedoc-Roussillon
8,4020812,54942.62,3,0.21,8,2,53,52,B12,Diesel,F,15725,Ile-de-France
9,4020812,7620.00,3,0.21,8,2,53,52,B12,Diesel,F,15725,Ile-de-France

In [19]:
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()

claim['VehBrand'] = LE.fit_transform(claim[['VehBrand']])
claim['VehGas'] = LE.fit_transform(claim[['VehGas']])
claim['Area'] = LE.fit_transform(claim[['Area']])
claim['Region'] = LE.fit_transform(claim[['Region']])

In [20]:
claim.head(10)

,IDpol,ClaimAmount,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region
0,1552,995.20,2,0.59,11,0,39,56,3,0,3,778,17
1,1552,1845.74,2,0.59,11,0,39,56,3,0,3,778,17
2,1010996,1128.12,1,0.95,4,1,49,50,3,1,4,2354,11
3,4024277,1851.11,1,0.71,4,2,32,106,3,1,3,570,15
4,4007252,1204.00,1,0.78,4,1,49,57,3,1,2,288,14
5,4046424,1204.00,1,0.86,12,0,37,50,3,0,5,27000,11
6,4073956,1204.00,1,0.78,15,10,48,50,3,1,4,2400,11
7,4012173,1204.00,1,0.71,5,3,58,50,3,1,2,208,12
8,4020812,54942.62,3,0.21,8,2,53,52,3,0,5,15725,11
9,4020812,7620.00,3,0.21,8,2,53,52,3,0,5,15725,11

In [21]:
claim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26209 entries, 0 to 26443
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IDpol        26209 non-null  int64
 1   ClaimAmount  26209 non-null  float64
 2   ClaimNb      26209 non-null  int64
 3   Exposure     26209 non-null  float64
 4   VehPower     26209 non-null  int64
 5   VehAge       26209 non-null  int64
 6   DrivAge      26209 non-null  int64
 7   BonusMalus   26209 non-null  int64
 8   VehBrand     26209 non-null  int32
 9   VehGas       26209 non-null  int32
 10  Area         26209 non-null  int32
 11  Density      26209 non-null  int64
 12  Region       26209 non-null  int32
dtypes: float64(2), int32(4), int64(7)
memory usage: 2.4 MB

In [22]:
claim.columns

Index(['IDpol', 'ClaimAmount', 'ClaimNb', 'Exposure', 'VehPower', 'VehAge',
       'DrivAge', 'BonusMalus', 'VehBrand', 'VehGas', 'Area', 'Density',
       'Region'],
      dtype='object')

In [23]:
claim1= ['IDpol', 'ClaimNb', 'Exposure', 'VehPower', 'VehAge',
       'DrivAge', 'BonusMalus', 'VehBrand', 'VehGas', 'Area', 'Density',
       'Region']

In [24]:
IndepVar = []
for col in claim.columns:
    if col != 'ClaimAmount':
        IndepVar.append(col)

TargetVar = 'ClaimAmount'

x = claim[IndepVar]
y = claim[TargetVar]

In [25]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state = 42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((18346, 12), (7863, 12), (18346,), (7863,))

In [26]:
from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

x_train[claim1] = mmscaler.fit_transform(x_train[claim1])
x_train = pd.DataFrame(x_train)

x_test[claim1] = mmscaler.fit_transform(x_test[claim1])
x_test = pd.DataFrame(x_test)

In [27]:
x_train.head()

,IDpol,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region
9334,0.171706,0.0,0.499314,0.454545,0.095238,0.370370,0.000000,0.6,1.0,0.6,0.036336,0.8
13479,0.339004,0.0,0.248971,0.090909,0.190476,0.172840,0.101124,0.6,0.0,0.0,0.000333,0.3
26221,0.528868,0.0,0.118793,0.272727,0.083333,0.271605,0.000000,0.0,1.0,0.4,0.009890,0.6
20872,0.683137,0.0,0.499314,0.454545,0.083333,0.432099,0.000000,0.6,1.0,0.4,0.006445,0.3
9107,0.168065,0.0,0.499314,0.000000,0.119048,0.024691,0.382022,0.6,1.0,0.0,0.001519,0.3

# regression models

In [28]:
RGRResults = pd.read_csv(r"C:\Users\dell\Downloads\illu satti\RGRResults.csv", header=0)

RGRResults.head()

Empty DataFrame
Columns: [Model Name, Mean_Absolute_Error_MAE, Adj_R_Square, Root_Mean_Squared_Error_RMSE, Mean_Absolute_Percentage_Error_MAPE, Mean_Squared_Error_MSE, Root_Mean_Squared_Log_Error_RMSLE, R2_score]
Index: []

In [29]:
# Build the Regression / Regressor models

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.linear_model import BayesianRidge

from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import BayesianRidge
from sklearn.ensemble import BaggingRegressor
# Create objects of Regression / Regressor models with default hyper-parameters

ModelMLR = LinearRegression()
ModelDCR = DecisionTreeRegressor()
ModelRFR = RandomForestRegressor()
ModelETR = ExtraTreesRegressor()
ModelBRR = BayesianRidge()

ModelSVR = SVR()
ModelKNN = KNeighborsRegressor(n_neighbors=5)
modelBRR = BayesianRidge()
modelBGR = BaggingRegressor()

# Evalution matrix for all the algorithms

#MM = [modelmlg, modeldcr, modelrfr, modelSVR, modelXGR, modelKNN, modelETR, modelBRR, modelBGR, modelGBR]
MM = [ModelMLR, ModelDCR, ModelRFR, ModelETR, ModelBRR, ModelSVR, ModelKNN,  modelBRR, modelBGR]

for models in MM:
    
    # Fit the model with train data
    
    models.fit(x_train, y_train)
    
    # Predict the model with test data

    y_pred = models.predict(x_test)
    
    # Print the model name
    
    print('Model Name: ', models)
    
    # Evaluation metrics for Regression analysis

    from sklearn import metrics

    print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred),3))  
    print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred),3))  
    print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),3))
    print('R2_score:', round(metrics.r2_score(y_test, y_pred),6))
    print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),3))
    
    # Define the function to calculate the MAPE - Mean Absolute Percentage Error

    def MAPE (y_test, y_pred):
        y_test, y_pred = np.array(y_test), np.array(y_pred)
        return np.mean(np.abs((y_test - y_pred) / y_test)) * 100
    
    # Evaluation of MAPE 

    result = MAPE(y_test, y_pred)
    print('Mean Absolute Percentage Error (MAPE):', round(result, 2), '%')
    
    # Calculate Adjusted R squared values 

    r_squared = round(metrics.r2_score(y_test, y_pred),6)
    adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
    print('Adj R Square: ', adjusted_r_squared)
    print('------------------------------------------------------------------------------------------------------------')
    #-------------------------------------------------------------------------------------------
    new_row = {'Model Name' : models,
               'Mean_Absolute_Error_MAE' : metrics.mean_absolute_error(y_test, y_pred),
               'Adj_R_Square' : adjusted_r_squared,
               'Root_Mean_Squared_Error_RMSE' : np.sqrt(metrics.mean_squared_error(y_test, y_pred)),
               'Mean_Absolute_Percentage_Error_MAPE' : result,
               'Mean_Squared_Error_MSE' : metrics.mean_squared_error(y_test, y_pred),
               'Root_Mean_Squared_Log_Error_RMSLE': np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),
               'R2_score' : metrics.r2_score(y_test, y_pred)}
    RGRResults = RGRResults.append(new_row, ignore_index=True)
    #-------------------------------------------------------------------------------------------

Model Name:  LinearRegression()
Mean Absolute Error (MAE): 2580.824
Mean Squared Error (MSE): 2502308272.854
Root Mean Squared Error (RMSE): 50023.077
R2_score: 0.000412
Root Mean Squared Log Error (RMSLE): 10.82
Mean Absolute Percentage Error (MAPE): 410.05 %
Adj R Square:  -4.6e-05
------------------------------------------------------------------------------------------------------------
Model Name:  DecisionTreeRegressor()
Mean Absolute Error (MAE): 3419.615
Mean Squared Error (MSE): 2580126022.969
Root Mean Squared Error (RMSE): 50794.941
R2_score: -0.030673
Root Mean Squared Log Error (RMSLE): 10.836
Mean Absolute Percentage Error (MAPE): 446.47 %
Adj R Square:  -0.031145
------------------------------------------------------------------------------------------------------------
Model Name:  RandomForestRegressor()
Mean Absolute Error (MAE): 3002.384
Mean Squared Error (MSE): 2523072555.258
Root Mean Squared Error (RMSE): 50230.196
R2_score: -0.007882
Root Mean Squared Log Error (RMSLE): 10.824
Mean Absolute Percentage Error (MAPE): 547.97 %
Adj R Square:  -0.008344
------------------------------------------------------------------------------------------------------------
Model Name:  ExtraTreesRegressor()
Mean Absolute Error (MAE): 3010.946
Mean Squared Error (MSE): 2520207963.018
Root Mean Squared Error (RMSE): 50201.673
R2_score: -0.006738
Root Mean Squared Log Error (RMSLE): 10.824
Mean Absolute Percentage Error (MAPE): 502.03 %
Adj R Square:  -0.007199
------------------------------------------------------------------------------------------------------------
Model Name:  BayesianRidge()
Mean Absolute Error (MAE): 2582.561
Mean Squared Error (MSE): 2502705396.072
Root Mean Squared Error (RMSE): 50027.047
R2_score: 0.000254
Root Mean Squared Log Error (RMSLE): 10.82
Mean Absolute Percentage Error (MAPE): 419.45 %
Adj R Square:  -0.000204
------------------------------------------------------------------------------------------------------------
Model Name:  SVR()
Mean Absolute Error (MAE): 2077.518
Mean Squared Error (MSE): 2505986479.643
Root Mean Squared Error (RMSE): 50059.829
R2_score: -0.001057
Root Mean Squared Log Error (RMSLE): 10.821
Mean Absolute Percentage Error (MAPE): 222.41 %
Adj R Square:  -0.001516
------------------------------------------------------------------------------------------------------------
Model Name:  KNeighborsRegressor()
Mean Absolute Error (MAE): 2840.824
Mean Squared Error (MSE): 2533871665.655
Root Mean Squared Error (RMSE): 50337.577
R2_score: -0.012196
Root Mean Squared Log Error (RMSLE): 10.827
Mean Absolute Percentage Error (MAPE): 370.19 %
Adj R Square:  -0.01266
------------------------------------------------------------------------------------------------------------
Model Name:  BayesianRidge()
Mean Absolute Error (MAE): 2582.561
Mean Squared Error (MSE): 2502705396.072
Root Mean Squared Error (RMSE): 50027.047
R2_score: 0.000254
Root Mean Squared Log Error (RMSLE): 10.82
Mean Absolute Percentage Error (MAPE): 419.45 %
Adj R Square:  -0.000204
------------------------------------------------------------------------------------------------------------
Model Name:  BaggingRegressor()
Mean Absolute Error (MAE): 3177.852
Mean Squared Error (MSE): 2535804951.037
Root Mean Squared Error (RMSE): 50356.777
R2_score: -0.012968
Root Mean Squared Log Error (RMSLE): 10.827
Mean Absolute Percentage Error (MAPE): 501.86 %
Adj R Square:  -0.013432
------------------------------------------------------------------------------------------------------------

In [30]:
RGRResults.head(10)

,Model Name,Mean_Absolute_Error_MAE,Adj_R_Square,Root_Mean_Squared_Error_RMSE,Mean_Absolute_Percentage_Error_MAPE,Mean_Squared_Error_MSE,Root_Mean_Squared_Log_Error_RMSLE,R2_score
0,LinearRegression(),2580.823767,-0.000046,50023.077403,410.045323,2.502308e+09,10.820240,0.000412
1,DecisionTreeRegressor(),3419.615105,-0.031145,50794.940919,446.467790,2.580126e+09,10.835552,-0.030673
2,"(DecisionTreeRegressor(max_features='auto', ra...",3002.383561,-0.008344,50230.195652,547.970156,2.523073e+09,10.824372,-0.007882
3,"(ExtraTreeRegressor(random_state=1486201792), ...",3010.945839,-0.007199,50201.672911,502.032637,2.520208e+09,10.823804,-0.006738
4,BayesianRidge(),2582.561062,-0.000204,50027.046646,419.449165,2.502705e+09,10.820319,0.000254
5,SVR(),2077.518408,-0.001516,50059.829001,222.409646,2.505986e+09,10.820974,-0.001057
6,KNeighborsRegressor(),2840.824021,-0.012660,50337.577074,370.193069,2.533872e+09,10.826507,-0.012196
7,BayesianRidge(),2582.561062,-0.000204,50027.046646,419.449165,2.502705e+09,10.820319,0.000254
8,(DecisionTreeRegressor(random_state=824397461)...,3177.851773,-0.013432,50356.776615,501.864076,2.535805e+09,10.826888,-0.012968

In [31]:
y_pred = ModelSVR.predict(x_test)

In [32]:
Results = pd.DataFrame({'ClaimAmount_A':y_test, 'ClaimAmount_P':y_pred})

# Merge two Dataframes on index of both the dataframes

ResultsFinal = claim_b.merge(Results, left_index=True, right_index=True)
ResultsFinal.sample(5)

,IDpol,ClaimAmount,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region,ClaimAmount_A,ClaimAmount_P
25359,2260647,1344.30,1,0.50,7,8,53,82,B1,Regular,E,3301,Midi-Pyrenees,1344.30,1174.610653
22814,4130052,770.80,1,0.77,4,4,46,50,B12,Regular,D,747,Bretagne,770.80,1204.278930
21941,4166327,1204.00,2,0.42,5,5,43,50,B2,Diesel,B,64,Pays-de-la-Loire,1204.00,1204.553173
18292,3188077,84.93,1,1.00,11,10,42,50,B5,Regular,E,2054,Provence-Alpes-Cotes-D'Azur,84.93,1183.142145
15876,2135735,1172.00,1,0.26,4,14,21,100,B2,Regular,D,1054,Centre,1172.00,1172.501897

In [33]:
ResultsFinal['%Error'] = round(((ResultsFinal['ClaimAmount_A']-ResultsFinal['ClaimAmount_P'])/ResultsFinal['ClaimAmount_A'])*100,3)

In [34]:
ResultsFinal.sample(10)

,IDpol,ClaimAmount,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region,ClaimAmount_A,ClaimAmount_P,%Error
2954,2014231,1172.00,1,0.71,7,1,56,50,B12,Regular,B,51,Ile-de-France,1172.00,1162.494140,0.811
8734,60483,1128.12,1,0.58,6,10,45,54,B3,Diesel,E,3301,Midi-Pyrenees,1128.12,1118.356923,0.865
3462,3015529,1304.24,2,0.45,7,2,65,50,B12,Diesel,C,307,Midi-Pyrenees,1304.24,1190.483824,8.722
12092,2130020,2172.00,1,0.75,7,1,37,62,B1,Regular,D,1055,Aquitaine,2172.00,1164.580567,46.382
13421,2092996,2130.35,1,0.31,7,8,57,50,B2,Diesel,A,34,Poitou-Charentes,2130.35,1168.492584,45.150
12657,2086892,80.12,1,0.90,5,4,55,50,B4,Regular,A,50,Bretagne,80.12,1160.327721,-1348.237
10186,1133252,154.43,1,1.00,5,7,42,50,B2,Diesel,C,399,Centre,154.43,1134.171104,-634.424
3143,2015987,1172.00,1,0.54,12,8,37,50,B12,Diesel,D,1232,Provence-Alpes-Cotes-D'Azur,1172.00,1165.283497,0.573
1269,5049240,1204.00,1,0.82,5,5,64,50,B2,Diesel,B,66,Provence-Alpes-Cotes-D'Azur,1204.00,1212.860571,-0.736
5428,76789,1128.12,1,0.37,7,15,40,64,B1,Diesel,C,218,Rhone-Alpes,1128.12,1127.912250,0.018